body {
    margin-top: 80px;
    padding-bottom: 80px;
}

header.navbar hgroup {
    font-size: 28px;
    height: 80px;
    line-height: 50px;
    margin-left: 20px;
}

header.navbar hgroup {
    float: left;
}
header.navbar hgroup h1 {
    font-weight: normal;
    font-size: 99.9%;
    display: inline;
}
header.navbar hgroup small {
    display: inline;
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
}

header.navbar nav.language {
    float: right;
    padding: 20px;
}

@media screen and (max-width: 770px) {
    header.navbar hgroup small {
        display: none;
    }
}

section h3 {
    line-height: 0;
    margin-bottom: 15px;
}
section .caption {
    height: 120px;
    padding-top: -10px;
}
section .buttons {
    text-align: center;
}

footer {
    text-align: center;
}

hr {
    clear: both;
}
